/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
/* Reset End */

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 2fr 9fr;
}

.sidebar {
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 2fr 8fr 12fr;
    padding: 7px 20px;
    background-color: #309fe8;
    color: white;
    min-width: 270px;  
}

.logo-text {
    font-size: 32px;
    font-weight: 700;
    margin-left: 15px;
}

.navigation-list-1 li,
.navigation-list-2 li,
.logo-container
{
    display: flex;
}

.logo-container {
  align-items: center;
  margin-bottom: 20px;
}

.navigation-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(134deg) brightness(104%) contrast(104%);
  margin-right: 10px;
}

.navigation-list-1,
.navigation-list-2
{
    display: grid;
    font-size: 22px;
    font-weight: 700;
    align-items: center;
    padding-left: 12px;
}

.navigation-list-2 {
    grid-template-rows: 30px 30px 30px;
    row-gap: 30px;
    margin-top: 50px;
}

.logo-icon, .search-icon, .profile-pic, .bell-icon, .profile-pic, .greeting-profile-pic
, .card-icon, .user-icon {
    border: 1px solid blue;
    width: 30px;
    height: 30px;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 20px 0 10px 45px;
}

.section-1 {
  display: flex;
  align-items: start;
}

.search-bar-container {
  display: flex;
  column-gap: 15px;
  padding-top: 6px;
}

.search-bar {
  width: 700px;
  height: 35px;
  border-radius: 20px;
  margin-right: 120px;
  border: none;
  background-color: #ebf2f9;
  padding-left: 15px;
}

.user-info {
  display: flex;
  padding-left: 30px;
}

.user-info p {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-top: 8px;
}

.section-2 {
  display: grid;
  /* grid-template-columns: 700px 400px; */
  grid-template-columns: 770px 400px;
  align-items: center;
}

.greeting {
  display: flex;
}

.greeting-text {
  margin-left: 20px;
  padding-top: 6px;
}

.greeting-text p {
  font-size: 14px;
  font-weight: 600;
}

.greeting-text h3 {
  font-size: 22px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #309fe8;
  font-weight: 700;
  color: white;
}

.main-content {
  display: grid;
  grid-template-rows: 50px 5fr 4fr;
  grid-template-columns: 6fr 2fr;
  background-color: #e7ebef;
}

.main-content h2 {
  font-weight: 400;
  font-size: 20px;
}

#h2-1 {
  padding: 14px 0px 5px 100px;
}

.cards {
  grid-row: 2 / 4;
  display: grid;
  grid-template-rows: 220px 220px 220px;
  grid-template-columns: 400px 400px;
  justify-content: center;
  row-gap: 30px;
  column-gap: 60px;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 8px;
}

.vertical-line {
  align-self: stretch;
  width: 25px;
  background-color: orange;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 25px 15px 15px 20px;
}

.card-title {
  font-weight: 600;
  font-size: 18px;
}

.card-paragraph {
  margin-bottom: 45px;
  color: #5d5e5f;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.main-content h2:nth-child(2) {
  padding-top: 14px;
  padding-bottom: 5px;
}

.announcements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 320px;
  height: 400px;
  border-radius: 15px;
}

.announcement {
  padding: 0 35px;
}

.announcement-title {
  font-weight: 600;
}

.announcement-paragraph {
  font-size: 13px;
  color: #5d5e5f;
}

hr {
  margin: 20px auto;
  width: 270px;
  border: 0.5px solid lightgray;
}

.trending-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  width: 320px;
  gap: 20px;
  padding: 20px;
}

.trending-project {
  display: flex;
}

.trending-project img {
  margin-right: 15px;
}

.trending.text {
  display: flex;
  flex-direction: column;
}

.trending-user {
  font-size: 15px;
}

.project-name {
  color: #5d5e5f;
  font-size: 14px;
}
